
.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
  
  .drawer {
    padding: 30px;
    position: fixed;
    width: 420px;
    height: 100%;
    right: 0;
    top: 0;
    background: #FFFFFF;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
  
    h2 {
      margin: 0;
      font-size: 24px;
      position: relative;
      
  
      img {
        position: absolute;
        right: -20px;
        top: -20px;
        opacity: .5;
        transition: opacity .15s ease-in-out;
        cursor: pointer;
  
        &:hover {
          opacity: 1;
        }
      }
    }
  
    .items {
      max-height: 80vh;
      overflow: auto;
      
    }
}
  
.cartTotalBlock {
    flex-shrink: 0;
    margin-top: 20px;
  
    div {
      flex: 1;
      height: 1px;
      border-bottom: 1px dashed #dfdfdf;
      
    }
  
    li {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 10px;
    }
  
    .greenButton {
      width: 100%;
      background: #9DD558;
      border-radius: 18px;
      border: 0;
      color: white;
      font-size: 16px;
      font-weight: 600;
      width: 325px;
      height: 55px;
      margin-top: 20px;
      cursor: pointer;
      transition: all .15s ease-in-out;
      position: relative;
  
      &:hover {
        background: lighten(#9DD558, 5%);
  
        img {
          transform: translateX(5px);
          transition: transform .15s ease-in-out;
        }
      }
  
      &:active {
        background: darken(#9DD558, 5%);
      }
  
      img {
        position: absolute;
        top: 21px;
        right: 30px;
      }

      
    }
}


.cartItem {
    border: 1px solid #f3f3f3;
    border-radius: 15px;
  
    min-height: fit-content;
  
    .cartItemImage {
      width: 70px;
      height: 70px;
      background-size: contain;
      background-position: 0 10px;
      background-repeat: no-repeat;
      margin-right: 20px;
      margin-left: 10px;
    }
    p {
      font-size: 14px;
      margin: 0;
    }
  
    b {
      font-size: 12px;
    }
  
    .removeButton {
      opacity: .5;
      transition: opacity .15s ease-in-out;
      cursor: pointer;
  
      &:hover {
        opacity: 1;
      }
    }
  }